body {
  margin: 0;
  padding: 0;
  background-color: #020916;
}

header {
  background-color: #0f1622; /* Background color for the header */
  color: #fff; /* Text color for the header */
  padding: 20px 0; /* Padding for top and bottom */
  text-align: center; /* Center-align text */
}

h1 {
  font-size: 2rem; /* Font size for the title */
  margin: 0; /* Remove default margin for the h1 element */
}

.vid-container {
  display: flex;
  justify-content: center; 
  height: 100%;
}

.centered-content {
  width: 800px;
  padding-top: 20px;
}

.overlays {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-button-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input, button {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
}